<header>
  <img src="assets/images/logo.png" class="headerLogo" alt="logo" />
</header>
<h1 class="bg-primary bg-opacity-75 text-black optional-message border border-primary">Welcome to Your Crypto Wallet<br>Securely manage your digital assets with ease.</h1>
<div class="HomeInterface">


 
  <button type="button" class="btn btn-primary FirstBtn" (click)="navigate('/access')">
    Access Your Wallet
  </button>
  <button type="button" class="btn btn-primary button" (click)="navigate('/create')">
    Create Wallet
  </button>
  <button type="button" class="btn btn-primary button" (click)="navigate('/recover')">
    Recover your Wallet with the Seed Phrase
  </button>

  
  


</div>
